<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @buyer %>

  <div>
    <%= link_to "Edit this buyer", edit_buyer_path(@buyer), class: "btn btn-success" %> |
    <%= link_to "Back to buyers", buyers_path, class: "btn btn-secondary" %>
    <br/>
    <br/>
    <%= button_to "Destroy this buyer", @buyer, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
